.spisok {
    position: relative;
    margin: 0 auto;
    top:50%;
     border: 7px solid green;
     height: 300px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     width: 66rem;


}

.tablet {
    position: relative;
    margin: 0 auto;
    border: 7px solid green;
    height: 300px;
    width: 40rem;
    font-size: 20px;
    border-radius: 3%;
    left: 30rem;

}

.elem {
    color: black;
    display: inline-block;
    min-width: 68px;
    height: 24px;
    border: 2px solid black;
    border-radius: 10%;
    background-color: bisque;
    margin-right: 3px;
    text-align: center;
}

.active {
    background-color: red;
    transition: all .5s;

}

.animation {
    transform: rotate(360deg) scale(1.1);
    transition: all 1s;
    background-color: yellowgreen;
}


.comments {
    font-size: 30px;
    color: darkgreen;
    font-weight: 700;
    text-decoration: dotted;
}